
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* border: 2px solid black; */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
}

nav img{
    height: 50px;
    background-size: cover;
        background-position: top center;
    
}

.lang-btn{
    height: 40px;
    width: 105px;
    border-radius: 4px;
    border: 1px solid white;
    background-color: transparent;
    color: white ;
    font-weight: 400;
    font-size: 15px;
}

.lang-btn i {
    margin: 4px;
}

.sign-btn{
    height: 40px;
    width: 90px;
    border-radius: 4px;
    background-color: #E50914;
    color: white;
    font-weight: 400;
    font-size: 15px;
    border: none;
}

.nav-links{
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-container{
    height: 100vh;
    background-image: url("./images/main.jpg") ;
    background-size: cover;
        background-position: top center;
}

.primary-container{
    height: 100%;
    background:  linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));
}

.container{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-right: 30px; */
    height: 90%;
    width: 100%;
    /* border: 1px solid yellow; */
}

.container h1{
    font-size: 70px;
    width: 60%;
    text-align: center;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 20px;
}

.container h4{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 25px;
}

.container p{
    font-size: 20px;
    font-weight: 400;
}

form{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.container input{
    height: 70px;
    width: 500px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 17px;
}

.container button{
    background-color: #E50914;   
    height: 70px;
    width: 235px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 25px;
}

form button i {
    margin-left: 10px;
}

.tv-section, .mobile-section, .monitor-section , .children-section{
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    background-color: black;
    color: white;
    border-top: 8px solid #222;
}

.text-section{
    width: 45%;
}

.text-section h1{
    font-size: 45px;
    margin-bottom: 10px;
}
.text-section h2{
    font-size: 27px;
    font-weight: 400;
}

.image-section{
    width: 40%;
}

.image-section img{
    height: 350px;
}

.mobile-section h1 , .children-section h1{
    line-height: 55px ;
}

.FAQ{
    background-color: black;
    color: white;
    border-top: 8px solid #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 85px;
    border-bottom: 8px solid #222;
}

.FAQ h1{
    font-size: 50px;
    margin-bottom: 35px;
    font-weight: 700;
}

.FAQ h3{
    background-color: #303030;
    width: 60%;
    margin-top: 8px ;
    height: 80px;
    padding: 20px 57px 20px 31px;
    font-size: 28px ;
    font-weight: 400;
    position: relative;
}

.FAQ h3 i {
    position: absolute;
    right: 31px;
}

.FAQ p{
    margin-top: 50px;
    font-weight: 400;
    font-size: 18px;
}

.FAQ form{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.FAQ input{
    height: 70px;
    width: 500px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 17px;
}

.FAQ button{
    background-color: #E50914;   
    height: 70px;
    width: 235px;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 30px;
}

.contact-section{
    height: 450px;
    width: 100%;
    background-color: black;
    color: #737373 ;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    /* padding-left: 260px; */
}

.contact-section p{
    font-size: 16px;
    padding-left: 45px;
}

.contact-section ul{
    list-style: none;
}

.contact-section .about{
    display: flex;
    font-size: 13px;
    margin-top: 10px;
    justify-content: space-between;
    width: 65%;
}

li{
    margin: 15px
}

.about ul li:hover{
    text-decoration: underline;
    color: #737373;
    cursor: pointer;
}

.contact-section .lang-btn{
    height: 50px;
    width: 125px;
    border-radius: 2px;
    border: 1px solid #737373;
    background-color: transparent;
    color: #737373 ;
    font-weight: 400;
    font-size: 15px;
    margin-left: 45px;
    position: relative;
    padding-left: 25px;
}

.contact-section .lang-btn .bi-globe{
    position: absolute;
    left: 6px;
    top: 10px;   
}

.contact-section .Netflix-India{
    font-size: 13px;
    margin-top: 25px;
}

@media only screen and (max-width: 768px){
  

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
        padding-bottom: 20px;
        overflow: hidden;
    }

    nav img{
        height: 50px;
        background-size: cover;
            background-position: top center;
        
    }


    .logo{
        height: 2rem;
    }


    .lang-btn{
        height: 2rem;
        width: 100px;
        border-radius: 4px;
        border: 1px solid white;
        background-color: transparent;
        color: white ;
        font-weight: 400;
        font-size: 15px;
    }

    .sign-btn{
        height: 2rem;
        width: 100px;
        border-radius: 4px;
        background-color: #E50914;
        color: white;
        font-weight: 400;
        font-size: 15px;
        border: none;
    }



    .nav-links{
        width: 230px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .container{
        /* border: 1px solid white; */
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin-left: 32px;
        margin-right: 32px; */
        height: 90vh;
        width: 100%;
        margin-bottom: 50px;
        overflow: hidden;
    }
    
    .container h1{
        font-size: 25px;
        width: 90%;
        text-align: center;
        line-height: 60px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    
    .container h4{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 25px;
    }
    
    .container p {

        font-size: 19px;
        text-align: center;
        font-weight: 400;
}
.container input{
    height: 45px;
    width: 250px;
    padding-left: 10px;
    font-weight: 300;
    font-size: 17px;
}

.container button{
    /* background-color: #E50914;    */
    height: 45px;
    width: 100px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 10px;
    margin-right: 16px;
    margin-left: 16px;
}

form button i {
    /* margin-left: 10px; */
    display: none;
}

/* .tv-section{
 margin-left: 32px;
 margin-right: 32px;

} */

.text-section h1{
    font-size: 25px;
    margin-bottom: 10px;

}
.text-section h2{
    font-size: 15px;
    font-weight: 400;
    margin-top: 30px;
}

.image-section{
    width: 85%;
    align-items: center;
    overflow: hidden;
  
}

.image-section img{
    height: 200px;
    overflow: hidden;
}

.mobile-section h1 , .children-section h1{
    line-height: 22px ;
}
.text-section{
    text-align: center;
    height: 200px;
    width: 100%;
    
}


.tv-section, .mobile-section, .monitor-section , .children-section{
    height: 100vh;
    display: flex;
    /* width: 100%; */

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 75px;
    padding-right: 75px;

    background-color: black;
    color: white;
    border-top: 8px solid #222;
    overflow: hidden;
}

.FAQ{
    background-color: black;
    color: white;
    border-top: 8px solid #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    padding: 85px; */
    border-bottom: 8px solid #222;
}
.FAQ h1{
   font-size: 30px;
}
.FAQ  i {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    padding: 85px;
    position: absolute;
    /* right: 16px; */
    /* margin-top: 200px; */
    font-weight: 600;
    font-size: 10px;

}
.FAQ  h3 {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    padding: 85px;
    position: absolute;
    /* right: 16px; */
    /* margin-top: 200px; */
    font-weight: 600;
    font-size: 10px;

}

.FAQ p{

    margin-top: 200px;
    font-weight: 600;
    font-size: 18px;
}

.FAQ form{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.FAQ input{
    height: 45px;
    width: 250px;
    padding-left: 10px;
    font-weight: 300;
    font-size: 17px;
}

.FAQ button{
    /* background-color: #E50914;    */
    height: 45px;
    width: 100px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 10px;
    margin-right: 16px;
    margin-left: 16px;
}
.contact-section{
    width: 100%;
    background-color: black;
    color: #737373 ;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    /* padding-left: 260px; */
    /* border: 1px solid yellow; */
    
}
.contact-section p{
    font-size: 16px;
    /* padding-left: 45px; */
    text-align: center;
}

.contact-section ul{
    list-style: none;
    margin-right: 5px;
}

.contact-section .about{
    display: flex;
    font-size: 13px;
    margin-top: 10px;
    justify-content: space-around;
    width: 100%;
    /* border: 1px solid blue; */
    margin-left: 25px;
    margin-right: 25px;
}

li{
    /* border: 1px solid red; */
    margin: 5px
}

.about ul li:hover{
    text-decoration: underline;
    color: #737373;
    cursor: pointer;
}

.contact-section .lang-btn{
    height: 50px;
    width: 125px;
    border-radius: 2px;
    border: 1px solid #737373;
    background-color: transparent;
    color: #737373 ;
    font-weight: 400;
    font-size: 15px;
    margin-left: 45px;
    position: relative;
    padding-left: 25px;
}

.contact-section .lang-btn .bi-globe{
    position: absolute;
    left: 6px;
    top: 10px;   
}

.contact-section .Netflix-India{
    font-size: 13px;
    margin-top: 25px;
}


}